<% javascript 'dynamic_users' %>
...
<p>
  <label for="user_department_id">department:</label>
  <%= f.collection_select :department_id, Department.find(:all), :id, :name, :prompt => "Select a Department" %>
</p>
<p id="user_field">
  <label for="user_state_id">User</label>
  <%= f.collection_select :user_id, User.find(:all), :id, :first_name, :prompt => "Select a User" %>
</p>