<%=render 'nav'%>
<div class="container" id="welcome" name="welcome">
      <br>
      <div class="row">
         <br>
         <header class="clearfix">
     
 <center><h1>Welcome </h1>
</div>
</div>


